@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont/style.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Oleo+Script:wght@400;700&display=swap');

@import './blockquote.css';
@import './custom-block.css';
@import './rainbow.css';
@import './vars.css';

:root {
  --vp-font-family-base: 'LXGW WenKai', sans-serif;
  --vp-font-family-mono: 'Inconsolata', 'LXGW WenKai', sans-serif;
}

.VPNavBarTitle {
  font-family: 'Oleo Script';
}

.VPHomeHero {
  .name {
    font-family: 'Oleo Script';
  }

  .text {
    line-height: 64px;
    font-size: 36px;
  }
}
